body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 0 30px;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 70px; /* Hauteur de la navbar */
  position: relative;
}

.logo {
  position: relative;
  z-index: 1;
}

.logo img {
  height: 250px;
  display: block;
  margin-top: -85px; /* 🔥 plus de décalage */
}


.nav-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
  line-height: 70px; /* vertical align */
}

.nav-links a:hover {
  color: #007bff;
}
